<!DOCTYPE html>
<html>
<head>
    <title>LA Mapper</title>

    <link rel="stylesheet" type="text/css" href="/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/lib/styles/main.css" />

</head>
<body>
    <div id="app"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/lib/leaflet/leaflet.js"></script>
    <script src="/lib/react/react-0.13.3.js"></script>
    <script src="/lib/react/JSXTransformer-0.13.3.js"></script>
    <script type="text/jsx" src="/lib/components/Leaflet.jsx"></script>
    <script type="text/jsx" src="/lib/components/Application.jsx"></script>
    <script type="text/jsx" src="/lib/components/InfoPanel.jsx"></script>
    <script type="text/jsx" src="application.jsx"></script>
</body>
</html>